body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
    z-index: 200;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@keyframes partialFadeIn {
    from { opacity: 0%; }
    to { opacity: 80%; }
}

h2 {
    color: #000000; 
    font-size: 60px; 
    font-style: italic;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    font-weight: 600; 
    animation: slideDown 1.0s ease-in-out;
}

@keyframes slideDown {
    from { transform: translateY(-40px); }
    to { transform: translateY(0); }
}


form {
    background: #fff;
    max-width: 400px; 
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px; 
    border: 4px solid #d40000; 
    animation: partialFadeIn 2.5s ease-in-out;
    animation-delay: 1.0;
}

@keyframes popIn {
    0% { transform: scale(0.9); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
}

form div {
    margin-bottom: 20px;
}

Typography {
    margin-bottom: 10px;
    display: block;
    color: #333;
    font-size: 16px; 
    font-weight: 500; 
}

TextField {
    width: 100%;
    display: block;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

.button, Button {
    width: 100%;
    padding: 15px !important; 
    margin-top: 25px !important; 
    margin: 5px !important;
    background-color: #970404 !important;
    color: white;
    border: none;
    border-radius: 5px !important; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px; 
    font-weight: 600; 
    text-transform: 'none';
}

.button:hover, Button:hover {
    background-color: #bb0000 !important; 
    transform: scale(1.03); 
}

.ReactModal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 300px;
    text-align: center;
    border: 1px solid #b30000; 
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    animation: fadeIn 1s ease-in-out; /* old fade it still used here */
}



.login-btn {
    background-color: #b30000;
    color: white; 
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.login-btn:hover {
    background-color: #990000; 
    transform: scale(1.05); 
}

.login-form{
    opacity: 75%;
    z-index: 100;
}


.content h1 {
	-webkit-text-stroke: 1px #000000 !important;
    color: #ffffff; 
    font-size: 80px; 
    font-style: italic;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    font-weight: 600; 
    animation: slideDown 1.0s ease-in-out;
}

.fullscreen-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    background: url('background.webp') no-repeat center center fixed;
    background-color: #171717;
    background-size: 50%;
    opacity: 1;
    animation: fadeIn 1s ease-out forwards;
}



.content {
    position: relative;
    z-index: 10; 
}

@keyframes slideUp {
    from { transform: translateY(0); }
    to { transform: translateY(-20px); }
}

@keyframes bgFadeIn {
    to {
        opacity: 1;
    }
}


body, html {
    height: 100%;
    margin: 0;
}

.red-haze {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0));
    animation: fadeInHaze 0s ease-in-out forwards, partialFadeIn;

}

@keyframes fadeInHaze {
    0% {
        background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0));
    }
    100% {
        background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.5));
    }
}
